DHIS2_API_URL= https://play.im.dhis2.org/stable-2-42-4
DHIS2_USERNAME= admin
DHIS2_PASSWORD= district
DHIS2_ORG_UNIT = ImspTQPwCqd
DHIS2_PROGRAM = IpHINAT79UW

TRACKED_ENTITY_TYPE = nEenWmSyUEp

FHIR_ATTRIBUTE_ID = Vkp0Kmruobb

FHIR_SERVER_URL= http://hapi.fhir.org/baseR4